[submodule "doc-links"]
	path = doc-links
	url = https://gist.github.com/d89211607a5d6df756b376904fa44e47.git
[submodule "picoinflux"]
	path = picoinflux
	url = https://github.com/TheFoundation/picoinflux.git
[submodule "mail/imapsync"]
	path = mail/imapsync
	url = https://github.com/imapsync/imapsync.git
[submodule "mail/IMAP-dedup"]
	path = mail/IMAP-dedup
	url = https://github.com/quentinsf/IMAPdedup.git
[submodule "worldmap"]
	path = worldmap
	url = https://github.com/benchonaut/worldmap.git
[submodule "8b58803d3eff481d57a42a159773a8d2"]
	path = 8b58803d3eff481d57a42a159773a8d2
	url = https://gist.github.com/8b58803d3eff481d57a42a159773a8d2.git
[submodule "ssl-cert-info"]
	path = ssl-cert-info
	url = https://gist.github.com/8b58803d3eff481d57a42a159773a8d2.git
[submodule "mail/vmail_utils"]
	path = mail/vmail_utils
	url = https://github.com/benchonaut/vmail_utils.git
